# ESACP Observability Stack Environment Variables
# Managed by Ansible - changes will be overwritten
# DO NOT commit this file to git

# Grafana
GRAFANA_ADMIN_USER={{ grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}
GRAFANA_ROOT_URL={{ grafana_root_url }}

# Alertmanager / Telegram
TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
TELEGRAM_CHAT_ID={{ telegram_chat_id }}

# Future: ERPNext database credentials
# MARIADB_ROOT_PASSWORD={{ mariadb_root_password }}
# ERPNEXT_ADMIN_PASSWORD={{ erpnext_admin_password }}
